# Ignorar archivos compilados de Python dentro de app/
trivia-game-python/app/__pycache__/
trivia-game-python/app/*.pyc

# Ignorar entorno virtual
trivia-game-python/venv/

# archivos compilados de pyhton
*.pyc
__pycache__/

.env

.secrets
